<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
             <!-- Import font awesome -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body >
      
        {% block body %}{% endblock %}
       
        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script> 
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
